        @import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /*background-color: aqua;*/
        }
        
        .plantilla {
            /*width: 100%;*/
            height: 100%;
            position: absolute;
        }
        
        .logo {
            width: 40%;
            top: 10%;
            left: 58%;
            position: absolute;
        }
        
        .bs1 {
            width: 30%;
            top: 40%;
            left: 65%;
            position: absolute;
        }
        
        .bs2 {
            width: 30%;
            top: 60%;
            left: 65%;
            position: absolute;
        }
        
        .listapoke {
            width: 30%;
            top: 85%;
            left: 65%;
            position: absolute;
        }
        
        .pokename {
            background: #33cb66;
            width: 9%;
            height: 9.5%;
            top: 81.5%;
            left: 7.5%;
            position: absolute;
            font-size: 0.45em;
        }
        
        .pokeball {
            width: 14.5%;
            height: 26.35%;
            top: 34.4%;
            left: 6%;
            position: absolute;
        }
        
        .azul {
            width: 14.5%;
            height: 26.3%;
            top: 34.4%;
            left: 6%;
            position: absolute;
            background-color: #98cb98;
        }
        
        .buscar {
            position: absolute;
            top: 73%;
            left: 2.6%;
            width: 3.9%;
            height: 7.5%;
            border-radius: 50%;
            font-size: .1em;
            background-color: #585858;
            color: white;
        }
        
        .Error {
            width: 14.5%;
            height: 26.3%;
            top: 34.4%;
            left: 6%;
            position: absolute;
        }
        
        .cuadro {
            background-color: #585858;
            position: absolute;
            width: 18%;
            height: 17.5%;
            top: 28.5%;
            left: 33%;
            color: white;
            font-size: 0.2em;
            line-height: 25%;
            display: flex;
            flex-direction: column;
            text-indent: 1%;
        }
        
        .estadisticas {
            position: absolute;
            top: 84.75%;
            left: 32.8%;
            width: 8.2%;
            height: 6.7%;
            font-size: .1em;
            background-color: #585858;
            color: #fecb65;
        }
        
        .habilidades {
            position: absolute;
            top: 84.75%;
            left: 43.6%;
            width: 7.8%;
            height: 6.7%;
            font-size: .1em;
            background-color: #585858;
            color: #fecb65;
        }